<nav class="">
    <% if logged_in? %>
      <h3>Welcome to the Flatiron Store, <%= "#{current_user.email}" %></h3>
    <% else %>
      <h3>Welcome to the Flatiron Store</h3>
    <% end %>

    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if logged_in? %>
          <li><%= link_to "Sign Out", signout_path %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_path %></li>
          <li><%= link_to "New User", new_user_path %></li>
        <% end %>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>
    </ul>
</nav>
